// Default parameters
params {
    input_vcf_AM_PP = "variants.vcf"
    input_vcf_SIFT = "data/variants.vcf"
    input_vcf_CADD = "/staging/leuven/stg_00156/thesis_projects_2025/lorepellens/Nextflow/data/variants_nextflow.vcf"

    sift_script = "/staging/leuven/stg_00156/thesis_projects_2025/lorepellens/Nextflow/bin/run_sift.sh"
    am_pp_script = "/staging/leuven/stg_00156/thesis_projects_2025/lorepellens/Nextflow/bin/run_AM_PP.sh"
    cadd_script = "/staging/leuven/stg_00156/thesis_projects_2025/lorepellens/Nextflow/bin/run_cadd.sh"
    
    sift_results_dir = "data/SIFT4G_results"
    output_dir = "data"

    nf_dir = "/staging/leuven/stg_00156/thesis_projects_2025/lorepellens/Nextflow"

    output_AM_PP = "/staging/leuven/stg_00156/thesis_projects_2025/lorepellens/Nextflow/data/alphamissense_results/variants_alphamissensepredictions.vcf"
    output_SIFT = "/staging/leuven/stg_00156/thesis_projects_2025/lorepellens/Nextflow/data/SIFT4G_results/variants_SIFTpredictions.vcf"
    output_CADD = "/staging/leuven/stg_00156/thesis_projects_2025/lorepellens/Nextflow/data/CADD_results/variants_CADDpredictions.vcf"    

    // SIFT-specific parameters
    sift {
        db_path = "/staging/leuven/stg_00156/thesis_projects_2025/lorepellens/SIFT/GRCh38.83.chr"  // Required for SIFT
        annotator_path = "/staging/leuven/stg_00156/thesis_projects_2025/lorepellens/SIFT/SIFT4G_Annotator.jar"
        min_score = 0.05                   // Threshold for damaging variants
    }

    // VEP-specific parameters
    VEP {
        sif = "/staging/leuven/stg_00156/thesis_projects_2025/lorepellens/vep/vep.sif"
        alphamissense_db_path = "/AlphaMissense_DATA/AlphaMissense_hg38.tsv.gz"
        cache_dir = "/staging/leuven/stg_00156/thesis_projects_2025/lorepellens/vep"
        dir = "/staging/leuven/stg_00156/thesis_projects_2025/lorepellens"
    }

    // CADD-specific parameters
    CADD {
        cadd = "/staging/leuven/stg_00156/thesis_projects_2025/lorepellens/CADD-scripts/CADD.sh"
    }

    // Merge predictor scores
    MERGE {
        script = "/staging/leuven/stg_00156/thesis_projects_2025/lorepellens/Nextflow/run_merge_predictors.sh"
        sif = "/staging/leuven/stg_00156/thesis_projects_2025/lorepellens/Nextflow/bioconductor_4.3.0.sif"
        rscript = "/staging/leuven/stg_00156/thesis_projects_2025/lorepellens/Nextflow/merge_predictors.R"
        output_merge = ""
    }

    // Ensemble method
    Ensemble {
        output_ensemble = "/staging/leuven/stg_00156/thesis_projects_2025/lorepellens/Nextflow/output_ensemble.csv"
    }
}

singularity {
  enabled = true
  autoMounts = true
  runOptions = '--bind /staging,/lustre1'
}